body {
    font-family: 'Roboto', sans-serif;
}

.bg-custom {
    background-image: url('../assets/images/bg1.jpg'); 
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; 
}